/* 

*/

initialize () {

	//set population parameters
	defineConstant("K", 100); // population size / carrying capacity
	defineConstant("mu", 1e-8); // deleterious mutation_rate
	defineConstant("s", -0.005); // deleterious selection coefficient
	defineConstant("g_size", 29999); // genome size this value + 1
	defineConstant("rho", 1e-8); // recombination_rate


	//set as nonWF model
	initializeSLiMModelType("nonWF");

	//set mutation rate
	initializeMutationRate(mu);


}